<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }}</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
<div class="content">

⌂ <a href="/home">home</a>
🕸 <a href="/stuff">stuff</a>
♬ <a href="/notes">notes</a> [ <a href="{{ .RepoURL }}/find/master">find</a> ]
{{$UrlPath:=.UrlPath}}
▸ {{$UrlPath}}

{{ if or (eq .Title "home") (eq .Title "stuff") (eq .Title "notes") }}
<img src="/static/gopher.png" style="max-width:100%;height:auto;float:right">
{{end}}

{{if .IsDir}}

<ul style="list-style-type:disclosure-closed">
{{range .Files}}
<li><a href="/{{ $UrlPath | removeTrailingSlash }}/{{ . }}">{{ . }}</a></li>
{{end}}
</ul>

✎ <a href="{{ .RepoURL }}/tree/master/data/{{ $UrlPath }}">source</a>

{{else}}

{{.Body}}
✎ <a href="{{ .RepoURL }}/tree/master/data/{{ $UrlPath }}.md">source</a>

{{end}}

</div>
</body>

</html>