/* to center the whole page */
.content {
    max-width: 960px;
    margin: auto;
    background: white;
    padding: 0 0.5rem;
}

/* Headings */
h1 {font-size:1.5em; counter-reset: h2counter;}
h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}
h2 {font-size:1.25em}
h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}
h3 {font-size:1.0em}
h4 {font-size:0.75em}

/* Links */
a:link { text-decoration: none; color: green}
a:visited { text-decoration: none; color: green}
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

/* Main text */
body {
    counter-reset: h2counter;
    font-family: Roboto, Arial, sans-serif;
}

/* Inline code and code blocks */
pre, code {
    font-family: Menlo, monospace;
    font-size: 0.775rem;
    white-space: pre;
}

/* Code blocks */
pre {
    background: #f7f7f7;
    overflow: auto;
    white-space: pre-wrap;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

/* > quote */
blockquote {
  background: #f9f9f9;
  //border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  //quotes: "\201C""\201D""\2018""\2019";
}

/* Table Of Contents */
#toc .h1 {
    text-indent: .25in;
}
#toc .h2 {
    text-indent: .5in;
}
#toc .h3 {
    text-indent: .75in;
}
#toc .h4 {
    text-indent: 1in;
}
#toc .h5 {
    text-indent: 1.25in;
}
#toc .h6 {
    text-indent: 1.5in;
}