h1 {font-size:1.5em}
h2 {font-size:1.25em}
h3 {font-size:1.0em}

code
{
font-family: monospace;
}

pre
{
background: #f7f7f7;
overflow: auto;
white-space: pre-wrap;
padding: 0.625rem;
border-radius: 0.3125rem;
}
