/* color of the links, code blocks and quotes */
:root {
  /* --main-color: green; */
  --main-color: #007d9c;
}

/* Top navigation bar */
.topnav {
    max-width: 960px;
    margin: auto;
    /* background-color: rgb(243, 243, 243); */
    /* border-bottom: 1px solid; */
    /* padding: 0.5rem; */
    padding: 5px;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: inherit;
    text-decoration: none;
    font-size: 1rem;
}

/* Style inputs, select elements and textareas */
.topnav input[type=search] {
    /* width: 50%; */
    /* padding: 12px; */
    padding: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* box-sizing: border-box; */
    /* resize: vertical; */
    float: right;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/*
 * When the screen is less than 600 pixels wide, hide all links, except for the
 * first one ("Home"). Show the link that contains should open and close the
 * topnav (.icon).
 */
@media screen and (max-width: 600px) {
  .topnav a:not(:nth-child(1)) {display: none;}
  .topnav form {display: none;}
  .topnav a.icon {
    display: inline;
    float: inline-end;
  }
}

/*
 * The "responsive" class is added to the topnav with JavaScript when the user
 * clicks on the icon. This class makes the topnav look good on small screens
 * (display the links vertically instead of horizontally).
 */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    display: inline;
    float: inline-end;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive form {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav input[type=search] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    /* margin: 0; */
    /* padding: 14px; */
  }
}

/* Page content */
.content {
    max-width: 960px;
    margin: auto;
    background: white;
    padding: 0 0.5rem;
}

.footer { display:block; }
.footer span { display:block;float:right; }

/* Headings */
/* h1, h2, h3 { letter-spacing: 0.03rem;} */
h1 {font-size:1.5rem; font-weight: 400}
h2 {font-size:1.2rem; font-weight: 500}
h3 {font-size:0.9rem; font-weight: 600}

/* Links */
a:link { text-decoration: none; color: var(--main-color); }
a:visited { text-decoration: none; color: var(--main-color); }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

/* Main text */
body {
    counter-reset: h2counter;
    /* font-family: "Courier New", Courier, monospace; */
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.0063rem;
    color: #3e4042;
}

/* Inline code and code blocks */
pre, code {
    background: #f7f7f7;
    white-space: pre;
    overflow: auto;
    border-radius: 0.3125rem;
    font-size: 0.8rem;
}

/* Code blocks only */
pre {
   background: #f7f7f7;
   border: 1px solid #ddd;
   border-left: 2px solid var(--main-color);
   color: #666;
   page-break-inside: avoid;
   font-family: monospace;
   margin-bottom: 1.6em;
   max-width: 100%;
   overflow: auto;
   padding: 1em 1.5em;
   display: block;
   word-wrap: break-word;
}

/* > quote */
blockquote {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-left: 2px solid var(--main-color);
  color: #666;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 0.3125rem;
}

/* Table Of Contents */
#toc .h1 {
    text-indent: .25in;
}
#toc .h2 {
    text-indent: .5in;
}
#toc .h3 {
    text-indent: .75in;
}
#toc .h4 {
    text-indent: 1in;
}
#toc .h5 {
    text-indent: 1.25in;
}
#toc .h6 {
    text-indent: 1.5in;
}

/* images */
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 50%;
  height: auto;
  float: right;
}