{{define "BLOG"}}
<!DOCTYPE html>
<html>
    <head>
        {{template "HEAD" .}}
    </head>
    <body>
        {{template "TOPNAV" .}}

        {{$UrlPath:=.UrlPath}}
        <div class="content">

            <ul style="list-style-type:disclosure-closed">
            {{range .Files}}
                    <li><a href="{{ $UrlPath | removeTrailingSlash }}/{{ . }}">{{ . }}</a></li>
            {{end}}
            </ul>

            {{template "FOOTER" .}}
        </div>

    </body>
</html>
{{end}}