<!DOCTYPE html>
<html>
    <head>
        {{template "head.html"}}
    </head>
    <body>
        {{template "topnav.html"}}

        {{$UrlPath:=.UrlPath}}
        <div class="content">
            {{if .IsDir}}
                <ul style="list-style-type:disclosure-closed">
                {{range .Files}}
                    <li><a href="{{ $UrlPath | removeTrailingSlash }}/{{ . }}">{{ . }}</a></li>
                {{end}}
                </ul>
                <p class="footer">
                ✎ <a href="{{ .RepoURL }}/tree/master/data/{{ $UrlPath }}">source</a>
                </p>
            {{else}}
                <p><nav id="toc"><details close><summary>{{ $UrlPath | removeLeadingSlash }}</summary></details></nav></p>
                {{.Body}}
                <p class="footer">
                ✎ <a href="{{ .RepoURL }}/tree/master/data/{{ $UrlPath }}.md">source</a> <span>touched {{ .LastModified }}</span>
                </p>
            {{end}}
        </div>
    </body>
</html>
